.Adminbuttonsdiv {
    display: flex;
    flex-direction: row;
    
}
.Adminbuttonsdiv > a > div > img {
    max-height: 82px;
    max-width: 82px;
    display:block;
    margin:auto;
}
.Adminbuttonsdiv > a > div {
      min-width: 1fr;
      min-height: 1fr;
      max-width: 1fr;
      max-height: 1fr;
      margin: auto;
      padding: 10px;
}
a {
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu', sans-serif;
}

.divtable {
    margin-left:auto; 
    margin-right:auto;
}

table > tbody > tr > td {
    padding: 15px;
}
.deletediv {
background-color: red;
}
.delbutton {
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

