.navlinks {
    display: inline-block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
.nav :hover {
    color: #f07d00;
}
.navdiv {
    float: right;
    width: 50%;
}
.flex-nav {
    display: flex;
    flex-wrap: nowrap;
    background-color: #6eaa27; 
    display: inline-block;
    width: 99%;
    min-height: 3em;
    z-index: 500;
    position: absolute;
    border-radius: 15px;
  }
.Logo {
    background-color: white;
    float: left;
    max-width: 25%;
    max-height: 25%;
    z-index: 1000;
    position: absolute;
    margin-left: 15%;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.41);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}